:root {

    /*--dark-background: #1a1a1a;*/
    /*--light-background: #f5f5f5;*/
    /*--dark-text: #4b4a4a;*/
    /*--light-text: #1a1a1a;*/
    /*--dark-border: #f5f5f5;*/
    /*--light-border: #1a1a1a;*/


    /* Themes variables */

    /*Dark theme*/
    --dark-theme-background: #1a1a1a;
    --dark-theme-text: #f5f5f5;
    --dark-theme-border: #f5f5f5;

    /*Light theme*/
    --light-background: #f5f5f5;
    --light-text: #1a1a1a;
    --light-border: #1a1a1a;
}